.navbar, .footer {
  background-image: url('https://i.pinimg.com/564x/04/61/e9/0461e91a732ec99abffaab158a1b7c04.jpg');
  color: yellow;
}
.dropdown{
  color: #14213d;
}

.p-2{
  color: yellow;
}

.main{
  /* background-image: url('https://i.pinimg.com/474x/48/96/fa/4896fa76902c5647cba721300d2b417c.jpg'); */
  object-fit: cover;
  color: yellow;
}

.card , .card1{
 margin: 2em auto;
 background-image: url('https://i.pinimg.com/474x/48/96/fa/4896fa76902c5647cba721300d2b417c.jpg');
}

.card-actions{
  margin: 2em auto;
  gap: 2em;
}

.card-actions1{
  display: flex;
  gap: 1em;
  margin: 1em auto;
  
}

.btn{
  background-color: #14213d;
color: yellow;
}

/* Addnewtopic */
.card-title{
  color: yellow;

}

.label-text{
  color: yellow;
}

/* login */
.carddd{
  background-image: url('https://i.pinimg.com/474x/48/96/fa/4896fa76902c5647cba721300d2b417c.jpg');

  color: black;
}

.collapse-title{
  background-color: #facc3b;


}


/* /* exisiting topics
 */
     
 .app {
  background: #209cee;
  height: 100vh;
  padding: 30px;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  max-width: 400px;
  padding: 5px;
}

.todo {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}

.upload{
  background-color: whitesmoke; }